<div class="card">
    <div class="card-body">
        <h3>{{ask.title}}</h3>
        <h4>Created at {{ask.createdAt}} | Category: {{ask.resource_type}}</h4>
        <p>{{ask.content}}</p>
    </div>
</div>