<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cup of Sugar</title>
    <script src="https://kit.fontawesome.com/63e7a601a3.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- nav begins -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                {{!-- <img src="/Cup-of-Sugar/assets/screenshots/Cup_of_Sugar_wireframes.png" alt="" width="30" height="24"> Cup Of Sugar --}}
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {{#if loggedIn}}
                  <li><a class="dropdown-item" id="logout" href="/logout">Logout</a></li>
                  {{else}}
                  <li><a class="dropdown-item" href="/login">Login</a></li>
                  <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
                  {{/if}}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- nav ends -->

{{{ body }}}

<footer>
    {{#if logged_in }}
    <a href="/controllers/dashboardRoutes/"><button class="btn btn-primary" type="submit"><i class="fas fa-home"></i></button></a>
    {{else}}
    <a href="/api/userRoutes/logout"><button id="login" class="btn btn-primary" type="submit"><i class="fas fa-cog"></i></button></a>
    {{/if }}
    {{!-- <a href="/controllers/navigationRoutes/asks"><button class="btn btn-primary" type="submit"><i class="fas fa-tachometer-alt"></i></button></a> --}}
    <a href="../../controllers/navigationRoutes/asks"><button class="btn btn-primary" type="submit"><i class="fas fa-hand-holding-heart"></i></button></a>  
    {{#if logged_in }}  
    <button id="logout" class="btn btn-primary" type="submit"><i class="fas fa-cog"></i></button>
    {{else }}
    <a href="/controllers/landingRoutes/signup"><button class="btn btn-primary" type="submit"><i class="fas fa-home"></i></button></a>
    {{/if}}
</footer>
{{#if logged_in}}
<script>"/js/logout.js"</script>
{{/if}}
</body>
</html>