<div class="container">
    <div class='page-title'>
        <h2>My Cup Of Sugar</h2>
        <p>View all of your posts here. Click on any ask or give to update or delete it.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class='ask-title'>
                <h3>My Asks and Gives</h3>
            </div>
            {{#each askgives}}
           {{> askdash}}
            {{/each}}
            <br>
        </div>
    </div>
</div>


<div class="container newpost">
<div class="row">
    <div class="col-sm-12">
      <div>
        <a href="/api/post/askpost"><button class="newPost">Create New Post</button></a>
      </div>
      </div>
</div>
</div>
