<div class="container" style="width: 50%">
    <div class='page-title'>
        {{#if name}}
        <h2>Welcome to your dashboard, {{name}}!</h2>
        {{else}}
        <h2>Welcome to your dashboard!</h2>
        {{/if}}

        <h5>
            Here you can manage any posts you’ve published on Cup of Sugar.
        Click on a post to update or delete it, or click "Create New Post” button to create a new Ask or Give.
        </h4>

        <a href="/api/post/askpost"><button class="newPost pageBtn">Create New Post</button></a>
    </div>
</div>
<div class="container" style="width: 50%">
    <div class="row">
        <div class="col-sm-12">
            <div class='ask-title'>
                <h2>My Asks and Gives</h2>
            </div>
            {{#each askgives}}
            {{> askdash}}
            {{/each}}
            <br>
        </div>
    </div>
</div>