{{!-- <h1>Cup of Sugar</h1>

  <section class="psection">
    <div class="contentcontainer">
      <div class="pcontent">
        <p>
          We believe in connecting you with good neighbors, wherever you may be. From requesting goods or services,
          to offering help of your own, to finding organizations you can assist or get assistance from, Cup of Sugar
          aims to be of service to those in need.
        </p>
      </div>
    </div>
     <img class="pImage" src="/images/shutterstock_605209094.jpg" alt="image of community hugging">
</section>
  </section> --}}





<div class="jumbotron container col-md-6">
    <h1 class="display-4">Cup Of Sugar!</h1>
    <p class="lead">Connecting good neighbors where ever you may be.</p>
    <p></p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login/Register</a>
      <a class="btn btn-primary btn-lg" href="/navigation/asks" role="button">Guest</a>

    </p>
  </div>
<script src="/js/scrolltrig.js"></script>