<div class="signIn">

  <h1>Log In</h1>

  <form class="form login-form">

    <div class="form-group">
      <label for="email-login" class="login">email:</label>
      <br>
      <input class="form-input logInput" type="text" id="email-login" />
    </div>

    <br>

    <div class="form-group">
      <label for="password-login" class="login">password:</label>
      <br>
      <input class="form-input logInput" type="password" id="password-login" />
    </div>

    <br>

    <div class="form-group">
      <button class="loginBtn" id="loginBtn" type="submit">Login</button>
    </div>

  </form>
  
</div>

<div class="signupLink">
  <h2>Not signed up?</h2>
  <a href="/signup"><button class="loginBtn">Sign Up Here</button></a>
</div>

<script src="/js/login.js"></script>