

  <div class="container">
  <h1>Log In</h1>

  <form class="form login-form">

    <div class="form-group">
      <label for="email-login" class="login">Email:</label>
      <br>
      <input class="form-input logInput" type="text" id="email-login" />
    </div>

    <br>

    <div class="form-group">
      <label for="password-login" class="login">Password:</label>
      <br>
      <input class="form-input logInput" type="password" id="password-login" />
    </div>

    <br>

    <div class="form-group">
      <button class="loginBtn" id="loginBtn" type="submit">Login</button>
    </div>

  </form>
  
</div>

<div class="container">
<div class="signupLink">
  <h2>Not registered?</h2>
  <a href="/signup"><button>Register Here</button></a>
</div>
</div>

<script src="/js/login.js"></script>