

<div class="container" style="width: 50%">
<h1>You have logged out</h1>

</div>

<div class="container" style="width: 50%">
<div class="signupLink">
  <a href="/navigation"><button class="pageBtn">Home Page</button></a>
</div>
</div>