<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h1>National Resources</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>No matter where you are, there is someone who can help. Check out some of these national organizations
                for whatever needs you're experiencing</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>Click below to view our Local Resource Page.
            </p>
            <a href="/navigation/resources"><button class="btn btn-info pageBtn">Local Resources</button></a>
        </div>
    </div>
    <br>
    {{!-- crisis hotlines resources --}}

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h2 style="text-align: center">Crisis Hotlines</h2>
                </div>
            </div>
            <hr>
            <div class="row">

                <h4 class="card-title"><img src="/images/nationalResource/lifeline.jpg"
                        style="width: 60px; height: 60px">Suicide Prevention Lifeline</h4>

                <a href="https://suicidepreventionlifeline.org/" style="color:  rgb(50, 161, 163)">
                    https://suicidepreventionlifeline.org/</a>
                <p><i class="fa fa-phone"></i> 1-800-273-8255</p>

                <p>We can all help prevent suicide. The Lifeline provides 24/7, free and confidential support for
                    people in distress, prevention and crisis resources for you or your loved ones, and best
                    practices for professionals.
                </p>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">

                <h4 class="card-title"><img src="/images/nationalResource/domestic.png"
                        style="width: 60px; height: 60px"> National Domestic Violence Hotline</h4>

                <a href="https://www.thehotline.org/" style="color: rgb(50, 161, 163)"> https://www.thehotline.org/</a>

                <p><i class="fa fa-phone"></i> 1-800-799-7233</p>

                <p>24 hours a day, seven days a week, 365 days a year, the National Domestic Violence Hotline
                    provides essential tools and support to help survivors of domestic violence so they can live
                    their lives free of abuse. Contacts to The Hotline can expect highly-trained, expert advocates
                    to offer free, confidential, and compassionate support, crisis intervention information,
                    education, and referral services in over 200 languages.
                </p>



            </div>
        </div>


    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">

                <h4 class="card-title"><img src="/images/nationalResource/runaway.png"
                        style="width: 60px; height: 60px"> National Runaway Safeline</h4>

                <a href="https://www.1800runaway.org/" style="color: rgb(50, 161, 163)">https://www.1800runaway.org/</a>

                <p><i class="fa fa-phone"></i>1-800-786-2929</p>

                <p>NRS provides education and solution-focused interventions, offers non-sectarian, non-judgmental
                    support, respects confidentiality, collaborates with volunteers, and responds to at-risk youth
                    and their families 24 hours a day through phone, email, and live chat.
                </p>

            </div>
        </div>
    </div>

    <br>
    {{!-- Community aid resources --}}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h2 style="text-align: center">Community Aid</h2>
                </div>
            </div>
            <hr>
            <div class="row">

                <h4 class="card-title"><img src="/images/nationalResource/unitedway.png"
                        style="width: 60px; height: 60px"> United Way</h4>

                <a href="https://www.unitedway.org/" style="color:  rgb(50, 161, 163)"> https://www.unitedway.org/</a>

                <p><i class="fa fa-phone"></i> (703) 836-7112</p>

                <p>
                    The solutions we create for communities around the world go beyond short-term charity for a few.
                    When United Way’s support for Community Schools helps increase the graduation rate in the
                    Vallejo City Unified School District by 11 percent in just three years, it’s not just the
                    students, or even just the families of those students who benefit. Those proud graduates now
                    have a much better chance of landing a job that pays a livable wage, of staying out of trouble
                    with the law, and of living longer, healthier lives — and that translates into a safer,
                    healthier and more prosperous community for everyone.
                </p>

                </p>
            </div>
        </div>


    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">

                <h4 class="card-title"><img src="/images/nationalResource/depaul.png"
                        style="width: 60px; height: 60px">The Society of St Vincent de Paul</h4>

                <a href="https://ssvpusa.org/" style="color: rgb(50, 161, 163)"> https://ssvpusa.org/</a>

                <p><i class="fa fa-phone"></i> ((314) 576-3993</p>

                <p>A Catholic lay organization inspired by Gospel values. The Society leads women and men to join
                    together to grow spiritually by offering person-to-person service to those who are needy and
                    suffering. Programs include Back2Work, Disaster Services Corporation, and Voice of the Poor
                    advocacy.
                </p>

            </div>
        </div>


    </div>
    <br>
    {{!-- Food bank resources --}}

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h2 style="text-align: center">Food Banks</h2>
                </div>
            </div>
            <hr>
            <div class="row">

                <h4 class="card-title"><img src="/images/nationalResource/wck.png" style="width: 60px; height: 60px">
                    World Central Kitchen</h4>

                <a href="https://wck.org/" style="color: rgb(50, 161, 163)"> https://wck.org/</a>


                <p><i class="fa fa-phone"></i> (202) 844-6330</p>

                <p>Works across America to safely distribute individually packaged, fresh meals in communities
                    that need support – for children and families to pick up and take home, as well as delivery
                    to seniors who cannot venture outside. To date, WCK has provided over 36 million meals in
                    more than 400 cities.
                </p>


            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">

                <h4 class="card-title"><img src="/images/nationalResource/usda.png" style="width: 60px; height: 60px">
                    USDA Food and Nutrition Service</h4>

                <a href="https://www.fns.usda.gov/usda-foods" style="color: rgb(50, 161, 163)">
                    <p>https://www.fns.usda.gov/usda-foods</p>
                </a>


                <p>A goverment-run series of food services to support American's in need of nutrition. Programs
                    include USDA Food in Schools, The Emergency Food Assistance Program, and Commodity Supplemental
                    Food Program.
                </p>


            </div>

        </div>
    </div>

</div>