<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h1>National Resources</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>No matter where you are, there is someone who can help. Check out some of these national organizations
                for whatever needs you're experiencing</p>
        </div>
    </div>

    {{!-- crisis hotlines resources --}}
    <div class="row">
        <div class="col-sm-12">
            <h2>Crisis Hotlines</h2>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="card-title">Suicide Prevention Lifeline</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <p>We can all help prevent suicide. The Lifeline provides 24/7, free and confidential support for
                        people in distress, prevention and crisis resources for you or your loved ones, and best
                        practices for professionals.
                    </p>
                </div>
                <div class="col-sm-3">
                    <p><i class="fa fa-phone"></i>1-800-273-8255</p>
                    <p><i class="fa fa-home"></i><a
                            href="https://suicidepreventionlifeline.org/">"https://suicidepreventionlifeline.org/"</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="card-title">National Domestic Violence Hotline</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <p>24 hours a day, seven days a week, 365 days a year, the National Domestic Violence Hotline
                        provides essential tools and support to help survivors of domestic violence so they can live
                        their lives free of abuse. Contacts to The Hotline can expect highly-trained, expert advocates
                        to offer free, confidential, and compassionate support, crisis intervention information,
                        education, and referral services in over 200 languages.
                    </p>
                </div>
                <div class="col-sm-3">
                    <p><i class="fa fa-phone"></i>1-800-799-7233</p>
                    <p><i class="fa fa-home"></i><a href="https://www.thehotline.org/">"https://www.thehotline.org/"</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="card-title">National Runaway Safeline</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <p>NRS provides education and solution-focused interventions, offers non-sectarian, non-judgmental
                        support, respects confidentiality, collaborates with volunteers, and responds to at-risk youth
                        and their families 24 hours a day through phone, email, and live chat.
                    </p>
                </div>
                <div class="col-sm-3">
                    <p><i class="fa fa-phone"></i>1-800-786-2929</p>
                    <p><i class="fa fa-home"></i><a
                            href="https://www.1800runaway.org/">"https://www.1800runaway.org/"</a>
                    </p>
                </div>
            </div>

        </div>
    </div>


    {{!-- Food bank resources --}}
    <div class="row">
        <div class="col-sm-12">
            <h2>Food Banks</h2>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="card-title">World Central Kitchen</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <p>Works across America to safely distribute individually packaged, fresh meals in communities
                        that need support – for children and families to pick up and take home, as well as delivery
                        to seniors who cannot venture outside. To date, WCK has provided over 36 million meals in
                        more than 400 cities.
                    </p>
                </div>
                <div class="col-sm-3">
                    <p><i class="fa fa-phone"></i>(202) 844-6330</p>
                    <p><i class="fa fa-home"></i><a href="https://wck.org/">"https://wck.org/"</a></p>
                </div>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="card-title">USDA Food and Nutrition Service</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <p>A goverment-run series of food services to support American's in need of nutrition. Programs
                        include USDA Food in Schools, The Emergency Food Assistance Program, and Commodity Supplemental
                        Food Program.
                    </p>
                </div>
                <div class="col-sm-3">
                    <p><i class="fa fa-home"></i><a
                            href="https://www.fns.usda.gov/usda-foods">"https://www.fns.usda.gov/usda-foods"</a></p>
                </div>
            </div>

        </div>
    </div>

</div>