{{#if name}}
<div class="container">
    <h2 class="textcolor" style="margin: 20px"> Hi, {{name}}! Welcome to your Cup of Sugar</h2>

    {{else}}
    <div class="welcome">
        <h2 class="textcolor" style="font-size: 40px">Welcome to Cup of Sugar!</h2>
        {{/if}}

        <h4>Here we believe in connecting you with good neighbors, wherever you may be.</h4>
        <hr>
        <h5>From requesting goods or services, to offering help of your own, to finding organizations you can assist or
            get
            assistance from, Cup of Sugar aims to be of service to those in need.</h5>
    {{!-- </div> --}}


    {{#unless loggedIn}}
    <hr>
    <h5>Click here

        to create an account on Cup of Sugar to be able to post and comment in our community forum.</h5>
    <a href="/login"><button class="loginBtn pageBtn" id="loginBtn" type="submit">Login</button></a>
    <a href="/signup"><button class="pageBtn">Register</button></a>

    </a>
    {{/unless}}
</div>

<div class="container navImages">
    <div class="portfolio">
        <div class="row">

            <div class="col-sm-6">
                <h4>Community Forum</h4>
                <picture class=" tooltip-wrap photomargin photo col-md-6">
                    <a class="btn" href="/navigation/asks">
                        <img src="/images/shutterstock_1160913544.jpg" class="rounded margin" width="200" height="200"
                            alt="Image community forum" />

                        <div class="tooltip-content">
                            <p>Community Forum</p>
                        </div>
                    </a>
                </picture>
            </div>

            <div class="col-sm-6">
                <h4>Resources</h4>
                <picture class=" tooltip-wrap photomargin photo col-md-6">
                    <a class="btn" href="/navigation/resources">
                        <img src="/images/shutterstock_288532283.jpg" class="rounded margin" width="200" height="200"
                            alt="Resources" />

                        <div class="tooltip-content">
                            <p>Resources</p>
                        </div>
                    </a>
                </picture>
            </div>
        </div>

        {{#if loggedIn}}
        <picture class=" tooltip-wrap photomargin photo col-md-6">
            <h4>Dashboard</h4>
            <a class="btn" href="/dashboard">
                <img src="/images/shutterstock_661961716.jpg" class="rounded margin" width="200" height="200"
                    alt="Image of wordweb dashboard" />
                <div class="tooltip-content">
                    <p>Dashboard</p>
                </div>
            </a>
        </picture>
        {{/if}}
    </div>
</div>