<main class="container photomargin col-md-9">
    <div class="row"></div>
    <div class="col-md-12"></div>
    <div class="col-md-12">
        {{#if name}}
        <h2 class="textcolor" style="margin: 20px">Welcome {{name}}!</h2>
        {{else}}
        <h2 class="textcolor">Cup Of Sugar</h2>
        {{/if}}
    </div>


    <div class="portfolio">
        <div class="row">

        <div class="col-sm-6">
        <picture class=" tooltip-wrap photomargin photo col-md-6">
            <a class="btn" href="/navigation/asks">
                <img src="https://via.placeholder.com/150C/O https://placeholder.com/" class="rounded margin"
                    alt="Dj Omaur Bliss Host" />
            </a>
            <div class="tooltip-content">
                <p>Community Forum</p>
            </div>
        </picture>
    </div>

    <div class="col-sm-6">
        <picture class=" tooltip-wrap photomargin photo col-md-6">
            <a class="btn" href="/navigation/resources">
                <img src="https://via.placeholder.com/150C/O https://placeholder.com/" class="rounded margin"
                    alt="Dj Omaur Bliss Host" />
            </a>
            <div class="tooltip-content">
                <p>Resources</p>
            </div>
        </picture>
        </div>
        </div>

        {{#if loggedIn}}
        <picture class=" tooltip-wrap photomargin photo col-md-6">
            <a class="btn" href="/dashboard">
                <img src="https://via.placeholder.com/150C/O https://placeholder.com/" class="rounded margin"
                    alt="Dj Omaur Bliss Host" />
            </a>
            <div class="tooltip-content">
                <p>Dashboard</p>
            </div>
        </picture>
        {{/if}}
    </div>
</main>