<main class="container photomargin col-md-9">
    <div class="row"></div>
    <div class="col-md-12"></div>
    <div class="col-md-12">
        {{#if name}}
        <h2 class="textcolor">Welcome {{name}}!</h2>
        {{else}}
        <h2 class="textcolor">Cup Of Sugar</h2>
        {{/if}}
    </div>


    <div class="portfolio">
        <div class="row">

            <div class="col-sm-6">
                <picture class=" tooltip-wrap photomargin photo col-md-6">
                    <a class="btn" href="/navigation/asks">
                        <img src="/images/shutterstock_288532283.jpg" class="rounded margin" width="150" height="150"
                            alt="Image community forum" />
                    </a>
                    <div class="tooltip-content">
                        <p>Community Forum</p>
                    </div>
                </picture>
            </div>

            <div class="col-sm-6">
                <picture class=" tooltip-wrap photomargin photo col-md-6">
                    <a class="btn" href="/navigation/resources">
                        <img src="/images/shutterstock_1160913544.jpg" class="rounded margin"  width="150" height="150"alt="Resources" />
                    </a>
                    <div class="tooltip-content">
                        <p>Resources</p>
                    </div>
                </picture>
            </div>
        </div>

        {{#if loggedIn}}
        <picture class=" tooltip-wrap photomargin photo col-md-6">
            <a class="btn" href="/dashboard">
                <img src="/images/shutterstock_661961716.jpg" class="rounded margin" width="150" height="150" alt="Image of wordweb dashboard" />
            </a>
            <div class="tooltip-content">
                <p>Dashboard</p>
            </div>
        </picture>
        {{/if}}
    </div>
</main>