
    {{#if name}}
    <div class="container">
        <h2 class="textcolor" style="margin: 20px"> Hi, {{name}}! Welcome to your Cup of Sugar</h2>
    </div>
        
        {{else}}
        <div class="welcome">
        <h2 class="textcolor" style="font-size: 40px">Welcome to Cup of Sugar!</h2>
        

  <h4>Here we believe in connecting you with good neighbors, wherever you may be.</h4>
  <hr>
  <h5>From requesting goods or services, to offering help of your own, to finding organizations you can assist or get assistance from, Cup of Sugar aims to be of service to those in need.</h5>
  {{/if}}

  {{#unless loggedIn}}
  <hr>
  <a href="/login">
  <button>
{{!-- <div class="container" style="background: white"> --}}
    <h5>Create an account on Cup of Sugar to be able to post and comment in our community forum.</h5>
{{!-- </div> --}}
</button>
</a>
{{/unless}}
</div>




<main class="container photomargin col-md-9">
    <div class="row"></div>
    <div class="col-md-12"></div>
    <div class="col-md-12">

        <h2>Navigation</h2>
        
    </div>


    <div class="portfolio">
        <div class="row">

            <div class="col-sm-6">
                <picture class=" tooltip-wrap photomargin photo col-md-6">
                    <a class="btn" href="/navigation/asks">
                        <img src="/images/shutterstock_1160913544.jpg" class="rounded margin" width="150" height="150"
                            alt="Image community forum" />
                    
                    <div class="tooltip-content">
                        <p>Community Forum</p>
                    </div>
                    </a>
                </picture>
            </div>

            <div class="col-sm-6">
                <picture class=" tooltip-wrap photomargin photo col-md-6">
                    <a class="btn" href="/navigation/resources">
                        <img src="/images/shutterstock_288532283.jpg" class="rounded margin"  width="150" height="150"alt="Resources" />
                    
                    <div class="tooltip-content">
                        <p>Resources</p>
                    </div>
                    </a>
                </picture>
            </div>
        </div>

        {{#if loggedIn}}
        <picture class=" tooltip-wrap photomargin photo col-md-6">
            <a class="btn" href="/dashboard">
                <img src="/images/shutterstock_661961716.jpg" class="rounded margin" width="150" height="150" alt="Image of wordweb dashboard" />
            <div class="tooltip-content">
                <p>Dashboard</p>
            </div>
            </a>
        </picture>
        {{/if}}
    </div>
</main>

