<div class="container" style="width: 25%">

  <h2>Create an Account</h2>

  <form class="form signup-form">

    <div class="form-group">
      <label for="user-login" class="login register">Enter Name:</label>
      <br>
      <input class="form-input newInput" type="text" id="uName-signup" />
    </div>

    <br>

    <div class="form-group">
      <label for="email-login" class="login register">Enter Email:</label>
      <br>
      <input class="form-input newInput" type="text" id="email-signup" />
    </div>

    <br>

    <div class="form-group">
      <label for="password-login" class="login register">Choose Password:</label>
      <br>
      <input class="form-input newInput" type="password" id="password-signup" />
      <p id="tinyText">*must be at least 8 characters</p>
    </div>

    <br>

    <div class="form-group">
      <button class="loginBtn pageBtn" id="signupBtn" type="submit">Register</button>
    </div>

  </form>

</div>

<script src="/js/signup.js"></script>