<div class="signIn">

  <h1>Create an Account</h1>

  <form class="form signup-form">

    <div class="form-group">
      <label for="user-login" class="login">enter username:</label>
      <br>
      <input class="form-input newInput" type="text" id="uName-signup" />
    </div>

    <br>

    <div class="form-group">
      <label for="email-login" class="login">enter email:</label>
      <br>
      <input class="form-input newInput" type="text" id="email-signup" />
    </div>

    <br>

    <div class="form-group">
      <label for="password-login" class="login"> choose password:</label>
      <br>
      <input class="form-input newInput" type="password" id="password-signup" />
    </div>
    
    <br>

    <div class="form-group">
      <button class="loginBtn" id="signupBtn"  type="submit">Sign Up</button>
    </div>

  </form>
  
</div>

<script src="/js/signup.js"></script>