
    .container {
    margin-top: 100px;
    background-color:  rgb(10, 157, 164);
    text-align: center;
    border: 2px solid black;
    box-shadow: 0 40px 60px 0 rgba(15, 15, 15, 0.4);
  }
  
  .jumbotron {
    text-align: center;
    background-color:  rgb(10, 157, 164);
    color: white;
  }
  

.navbar {
    background-color: rgb(10, 157, 164); 
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
  }
  body {
    height: auto;
    background-image: url("/images/Cup_of_Sugar_wireframes.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
  }
  .btn  {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 35px;
  margin-right: 35px;
  background-color: white;
  color: black;
  border: 1px solid rgb(0, 0, 12, 0.8);
}

.btn:hover {
  background-color:rgb(10, 157, 164);
  color: white;
  border: 1px solid white;
}

.btn:active {
  background-color: rgb(138, 246, 246);
}

.btn:active {
  -webkit-box-shadow: inset 0px 0px 5px black;
  -moz-box-shadow: inset 0px 0px 5px black;
  box-shadow: inset 0px 0px 5px black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: auto;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .card {
    text-align: left;
  }

.newpost {
  margin: 0 auto;
  margin-top: 20px;
}

/* #inputZip {
  width: 100%;
  margin: 0 auto;
} */